@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');


 :root{
    --fonte-titulo:'SUSE+Mono';
    --fonte-texto:'Inconsolata';
    --cor-principal:#0e008f;
    --cor-secundaria:#500000;
    --cor-destaque:#000943;
    --cor-texto:#ffffff;
 } 
 body{
   background-color: var(--cor-principal);
   color: var(--cor-texto);
   font-family: var(--fonte-texto);
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
 }
 .caixa-principal{
background-color: var(--cor-principal);
width: 90%;
max-width: 600px;
text-align: center;
padding: 20px;
 }
 h1, .caixa-pergunta, .caixa-resultado{
  font-family: var(--fonte-titulo);
 }
 h1{
  color: var(--cor-destaque);
 }
 button{
  background-color: var(--cor-secundaria);
  color: var(--cor-texto);
  border: none;
  border-radius: 15px;
  padding: 15px;
  transition: background-color 0.3s;
 }
button:hover{
  background-color: var(--cor-destaque);
  color: var(--cor-principal);
}
.caixa-resultados{
  display: none;
}
.caixa-resultados.mostrar{
  display: block;
}
.caixa-alternativas{
  display: flex;
  flex-direction: column;
  gap: 10px;
}